<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Leaf-Classifier</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>            
            <a class="nav-link active" href="#">Species</a>
           <!-- <a class="nav-link" href="#">Contact</a>
			-->
          </nav>
        </div> 
      
      <main role="main" class="container">
      <h3 class="mt-5">Euphorbia Mili</h1>
      <p class="lead">Euphorbia milii, the crown of thorns, Christ plant, or Christ thorn, also called Tu y Yo in Latin America, is a species of flowering plant in the spurge family Euphorbiaciae, native to Madagascar. The species name commemorates Baron Milius, once Governor of Réunion, who introduced the species to France in 1821.[1] It is suspected that the species was introduced to the Middle East in ancient times, and legend associates it with the crown of thorns worn by Christ.</p>    
    </main>
    
      <main role="main" class="container">
      <h3 class="mt-5">Excoecaria</h1>
      <p class="lead">Excoecaria is a plant genus of the family Euphorbiaceae, formally described by Linnaeus in 1759. The genus is native to the Old World Tropics (Africa, southern Asia, northern Australia, and assorted oceanic islands).</p>    
    </main>
    
    
      <main role="main" class="container">
      <h3 class="mt-5">Chinese Tallow</h1>
      <p class="lead">The plant sap and leaves are reputed to be toxic, and decaying leaves from the plant are toxic to other species of plant. The specific epithets sebifera and sebiferum mean "wax-bearing" and refer to the vegetable tallow that coats the seeds.</p>    
    </main>

	    
      <main role="main" class="container">
      <h3 class="mt-5">Garden Croton</h1>
      <p class="lead">Codiaeum variegatum (garden croton or variegated croton; syn. Croton variegatum is a species of plant in the genus Codiaeum, which is a member of the family Euphorbiaceae. It is native to Indonesia, Malaysia, Australia, and the western Pacific Ocean islands, growing in open forests and scrub.</p>    
    </main>

	<main role="main" class="container">
      <h3 class="mt-5">Hevea Brasilinsis</h1>
      <p class="lead">Hevea brasiliensis, the Pará rubber tree, sharinga tree, seringueira, or, most commonly, the rubber tree or rubber plant, is a tree belonging to the family Euphorbiaceae. It is the most economically important member of the genus Hevea because the milky latex extracted from the tree is the primary source of natural rubber.</p>    
    </main>

      
      
      
      </header>
      
      
      <!--
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
      -->
      
      <footer class="mastfoot mt-auto">
      </footer>
    </div>









    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
  
</html>
